
<h3>Registros</h3>
<div class="row">
  <div class="input-field col s4">
    <input id="matricula" type="text" [value]="parametros.matricula" readonly>
    <label for="matricula" class="active">Matricula</label>
  </div>

  <div class="input-field col s8">
    <input id="ponto" type="text" [value]="unidade" readonly>
    <label for="ponto" class="active">Ponto</label>
  </div>
  
  <div class="input-field col s12">
    <input id="nome" type="text" [value]="parametros.nome" readonly>
    <label for="nome" class="active">Nome</label>
  </div>
</div>

<div class="input-field col s4">
  <input id="mes" type="text" [value]="parametros.mes" readonly>
  <label for="mes" class="active">Mes</label>
</div>

<div class="input-field col s8">
  <input id="ano" type="text" [value]="parametros.ano" readonly>
  <label for="ano" class="active">Ano</label>
</div>

<table class="responsive-table striped centered">
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="4">Horarios</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros">
      <td>{{ registro.data | date:'dd/MM/yyyy' }}</td>
      <td>{{ registro?.horas[0] }}</td>
      <td>{{ registro?.horas[1] }}</td>
      <td>{{ registro?.horas[2] }}</td>
      <td>{{ registro?.horas[3] }}</td>
      <td>{{ registro?.horas[4] }}</td>
      <td>{{ registro?.horas[5] }}</td>
      <td>{{ registro?.horas[6] }}</td>
      <td>{{ registro?.horas[7] }}</td>
      <td>{{ registro?.horas[8] }}</td>
      <td>{{ registro?.horas[9] }}</td>

    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>
        Total de dias
      </th>
      <td>{{ registros.length }}</td>
      <th>Total de registros</th>
      <td>{{ countRegistros() }}</td>
    </tr>
  </tfoot>
</table>
