
<section class="row">
  <article class="container">
    <h2>Parametros</h2>
    <mz-select-container>
      <select mz-select id="options-select" [label]="'Local do ponto'" [placeholder]="'Selecione o ponto'" [(ngModel)]="ponto" (change)="buscarProfissionais()">
        <option value="" disabled>Selecione o ponto</option>
        <option *ngFor="let ponto of pontos" [value]="ponto.codigo">{{ ponto.nome }}</option>
      </select>
    </mz-select-container>
    <div class="row">
      <div class="col s6">
          <mz-select-container>
            <select mz-select id="options-select" [label]="'Mes'" [placeholder]="'Selecione o Mes'" [(ngModel)]="mes">
              <option value="" disabled>Selecione o ponto</option>
              <option *ngFor="let mes of meses" [selected]="mes.numero == mes" [value]="mes.numero">{{ mes.mes }}</option>
            </select>
          </mz-select-container>
        </div>
        <div class="col s6">
          <mz-select-container>
            <select mz-select id="options-select" [label]="'Ano'" [placeholder]="'Selecione o Ano'" [(ngModel)]="ano">
              <option value="" disabled>Selecione o ponto</option>
              <option *ngFor="let ano of anos" [selected]="ano == anoAtual" [value]="ano">{{ ano }}</option>
            </select>
          </mz-select-container>
        </div>
    </div>
  </article>
  <article class="col s6" *ngIf="profissionais.length > 0">
    <h3>Profissionais</h3>
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input id="pesquisar" type="search" class="validate" [(ngModel)]="filtro" autofocus>
      <label for="pesquisar">Filtro</label>
    </div>
    <div class="collection">
      <a class="collection-item" 
        *ngFor="let profissional of listaProfissionais()"
        (click)="abrir(profissional.matricula, profissional.nome)">
        {{ profissional.nome }}
      </a>
    </div>
  </article>
  <article class="col s6">
    <app-registros *ngIf="parametros" [parametros]="parametros"></app-registros>
  </article>
</section>